tmp/
.env
.envrc

# MkDocs build output
site/

# Misc
.DS_Store
.vscode/
.moon/cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# PDF Fixtures: Input and Output directories
scripts/pdf_fixtures/input/
scripts/pdf_fixtures/output/
