# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Coverage
.coverage
coverage.xml
coverage.lcov
htmlcov/

# pytest
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
